#formContainer{
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }
 #buttonContainer{

 }
.logo{
    align-content: center;
}

 .heading{
     text-align: center;
     padding-top: 5%;
     color: white;
 }
 #hide{
     display: none;
 }
 .start{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
 }
 body{
    background-color:hsl(192, 25%, 8%);
    background-image: url('images/stephen-walker-figCUroJwZA-unsplash5.jpg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
 }

 .form{
 }

 html,body{
    height: 100%
}

footer{
    margin-bottom: 2%;
    position: absolute;
    bottom: 0;
    width: 100%;
    color:#fff;
}

.results{
    text-emphasis: bold;
}